annotated-doc==0.0.5
annotated-types==0.8.0
bcrypt==5.0.0
click==8.5.0
cloudpickle==3.1.2
h11==0.16.0
idna==3.20
narwhals==2.26.0
networkx==3.7
numpy==2.5.3
passlib==1.7.4
PyJWT==2.15.1
python-dotenv==1.2.4
python-multipart==0.0.32
six==1.17.0
SQLAlchemy==2.1.1
threadpoolctl==3.7.0
typing-inspection==0.4.4
typing_extensions==4.16.0
tzdata==2026.4
uvicorn==0.54.0
